# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Camera7670/Visual Micro
Camera7670/Debug
Camera7670/Camera7670.atsln
Camera7670/Camera7670.atsuo
Camera7670/Camera7670.cppproj